<article class="padded fadeInLeft animated">
  <div class="row padded">
    <section about-directive></section>
    <hr></hr>
    <section class="row padded black box">
      <div class="padded bounceInDown animated">
        <h1 class="museo-slab mobile">Wallets</h1>
      </div>
    </section>
  </div>
  <hr></hr>
  <div class="row padded">
    <div class="three fifths">
      <h3 class="zero museo-slab">What is a Wallet?</h3>
      <p class="quicksand">Bitcoin Kenya Information Portal</p>
    </div>
    <div class="two fifths align-right-ipad align-right-desktop">
      <p class="quicksand">Guide 3 of 6</p>
      <a href="#!/Mining" class="blue button" rel="prev" >Back: Mining</a>
      <a href="#!/InvestBTC" class="green button" rel="next" >Next: Investing in Bitcoin?</a>
    </div>
  </div>
  <div class="row padded gap-top page">
    <div class="tabs ipad">
      <ul role="tablist">
        <li role="tab" aria-controls="#wallets1" class="active">What is a wallet?</li>
        <li role="tab" aria-controls="#wallets2">Why do I need a wallet?</li>
        <li role="tab" aria-controls="#wallets3">What is a bitcoin address?</li>
        <li role="tab" aria-controls="#wallets4">What is a QR code?</li>
        <li role="tab" aria-controls="#wallets5">How can I scan QR code?</li>
        <li role="tab" aria-controls="#wallets6">QR code for sending bitcoins?</li>
        <li role="tab" aria-controls="#wallets7">QR code for receiving bitcoins?</li>
        <li role="tab" aria-controls="#wallets8">Benefits of using QR codes?</li>
        <li role="tab" aria-controls="#wallets9">Open a bitcoin wallet?</li>
        <li role="tab" aria-controls="#wallets10">Send bitcoin on your wallet?</li>
        <li role="tab" aria-controls="#wallets11">Receive bitcoin on your wallet?</li>
        <li role="tab" aria-controls="#wallets12">Recommended bitcoin wallets?</li>
        <li role="tab" aria-controls="#wallets13" class="red">How to open an Ethereum wallet?</li>
      </ul>
      <div id="wallets1" role="tabpanel" class="active">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">Bitcoin wallets are just like traditional leather wallets for holding cash. A
          bitcoin wallet is where you store your bitcoins. Using a wallet, you can
          send, receive, and check your balance. Depending on the wallet you
          choose to use, more features are available such as an address book,
          transaction history, add a note and more.<p></p>
          <p class="readable">There are 3 basic types of wallet</p>
          <ol class="list">
            <li class="green">Mobile wallet</li>
            <li class="green">Web wallet</li>
            <li class="green">Hardware wallet</li>
          </0l>
        </div>
      </div>
      <div id="wallets2" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            You need a bitcoin wallet so you can send, store and receive bitcoins from
            your choice of device. For example a mobile wallet on your phone, a web
            wallet when you are at your computer or web browser and finally hardware
             wallets which are the best for storing large amounts of bitcoins for
            long periods of time</p>
        </div>
      </div>
      <div id="wallets3" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
          A bitcoin address is similar to an account number, for receiving and
          sending funds. . Bitcoins are sent from one bitcoin address to another.
          In every bitcoin wallet, you will find your receiving address. It is a
          long string of numbers and letters that resembles
          <span class="red">3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy.</span> You share it with your friends,
          customers, or anyone paying you bitcoin.</p>
          <p class="readable">If you find Bitcoin addresses to be too long and hard to recall,
          there is an alternative – QR codes. QR codes are easier way to share,
          send and receive bitcoins.</p>
        </div>
      </div>
      <div id="wallets4" role="tabpanel">
        <div class="one third">
          <p class="readable">Here is an example of QR code</p>
          <img src="assets/images/IMG_2102-e1462973755914-300x300.jpg" alt="QR Code"/>
        </div>
        <div class="two thirds">
          <p class="readable">
            A QR code is an image form that represents your bitcoin addresses. They
            are scanned to send and receive bitcoins, making them far more easier to
             use than copy pasting addresses. Like pictures, they can be shared via
            social media or on your online store or blog.</p>
        </div>
      </div>
      <div id="wallets5" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Scanning  a QR code is easy and simple. Depending on the bitcoin wallet you are
            using, the process may vary. Generally however, it is all the same.
            Point a camera at a bitcoin QR code and scan to:</p>
          <ol class="list">
            <li class="blue">Send bitcoins to a receiver or receiving bitcoin address</li>
            <li class="blue">Enter a bitcoin address in your contact list</li>
          </ol>
          <p class="readable">Mobile bitcoin wallets will automatically link to your camera from within the app itself. Therefore,</p>
          <p class="readable">If you want to send bitcoins</p>
          <ul class="list">
            <li class="blue">Launch your mobile wallet</li>
            <li class="blue">Enter password (recommended for security)</li>
            <li class="blue">Go to ‘Send’</li>
            <li class="blue">Go to ‘Scan QR code’</li>
          </ul>
          <p class="readable">If you want to add a contact to your address book</p>
          <ul class="list">
            <li class="blue">Launch your mobile wallet</li>
            <li class="blue">Enter password (recommended for security)</li>
            <li class="blue">Select ‘Camera’, an option between ‘Send’ and ‘Receive’</li>
            <li class="blue">Scan the QR code to add to contact</li>
            <li class="blue">Label your new contact</li>
            <li class="blue">Save</li>
            <li class="blue">You have now added this bitcoin address into your contact</li></ul>
        </div>
      </div>
      <div id="wallets6" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
          To send bitcoins using a QR code, ask your intended receiver to show
          your their bitcoin address QR code format. As the sender, you must have a
          camera either on your phone, PC laptop or desktop computer.</p>
          <ul class="list">
            <li class="blue">Ask the receiver to show you their QR code</li>
            <li class="blue">Go to ‘Send’ on your wallet</li>
            <li class="blue">Select Scan QR code</li>
            <li class="blue">Scan the QR code of your intended receiver</li>
            <li class="blue">Enter the correct amount to send</li>
            <li class="blue">Confirm the amount to send is correct</li>
            <li class="blue">Press send</li>
          </ul>
          <p class="readable">*Some web and desktop wallets may not have an option to Scan QR code</p></p>
        </div>
      </div>
      <div id="wallets7" role="tabpanel">
        <div class="one whole">
          <p class="readable">
            To receive bitcoins, share your QR code with your sender. All bitcoin
            addresses can be represented in QR code format. On most wallets, a QR
            code version of your bitcoin address will be displayed. The sender then
            Scans this QR code and sends bitcoins to your wallet.</p>
          <ol class="list">
            <li class="blue">Go to your mobile wallet</li>
            <li class="blue">Enter your password (recommended for security)</li>
            <li class="blue">Go to ‘Receive’</li>
            <li class="blue">Your bitcoin address and its QR code are displayed</li>
            <li class="blue">Tap the QR code twice to make it clear</li>
            <li class="blue">Show your sender your QR code (face to face or via video skype)</li>
            <li class="blue">Your sender will Scan your QR code and send the amount of bitcoins</li>
          </ol>
        </div>
      </div>
      <div id="wallets8" role="tabpanel">
        <div class="one whole">
          <p class="readable">
            <ol class="list">
              <li class="blue">Using QR codes saves you the trouble of having to manually enter or copy paste long bitcoin addresses</li>
              <li class="blue">QR codes can be shared on a blog, profile picture, website, or anywhere online to receive bitcoin payments from anyone</li>
              <li class="blue">QR codes can be printed out and stuck on physical stores where customers can quickly scan the merchant QR code to pay</li>
              <li class="blue">You can generate QR codes embedded with a defined amount of bitcoin to be received. For example, a QR code customized to receive 100 Kshs.
              only. Thus, anyone paying using your QR code only pays an amount defined by you.</li>
              <li class="blue">Bitcoin QR codes are quick, secure and fun to use when making payments online or payments in person or face to face</li>
          </ol>
        </div>
      </div>
      <div id="wallets9" role="tabpanel">
        <div class="one whole">
          <p class="readable">
            Like email and email addresses, bitcoin wallets are made to be easy and
            simple to use. Some will walk you through the standard way of signing up
            for online service: ask for a username, set a password and verify via
            email. Others however, are downloaded and installed on your phone.</p>
          <p class="readable">To open a bitcoin wallet, the first step is to choose the type of wallet you want.</p>
          <p class="readable">Fortunately, there a variety <u>type of wallets</u> to pick from.</p>
          <p class="readable">For mobile wallets</p>
          <ul class="list">
            <li class="blue">Visit google playstore on android</li>
            <li class="blue">Search for one of one of your choice or the recommended wallets</li>
            <li class="blue">Install the wallet on your smartphone device.</li>
            <li class="blue">Launch the wallet application</li>
            <li class="blue">Backup your wallet for security. See how to secure your bitcoins, how to backup your wallet</li>
            <li class="blue">Set a 6 digit PIN password code for your wallet</li>
            <li class="blue">Your wallet is now ready for use</li>
          </ul>
          <p class="readable">For web wallets</p>
          <ul class="list">
            <li class="blue">Visit a web wallet service like blockchain.info</li>
            <li class="blue">Sign up via email address with username and strong password</li>
            <li class="blue">Verify via email address</li>
            <li class="blue">Login and go to settings</li>
            <li class="blue">Setup 2 Factor Authentication</li>
            <li class="blue">Verify via SMS</li>
            <li class="blue">Your wallet is now ready to use</li>
          </ul>
          <p>For Hardware wallets</p>
          <ul class="list">
            <li class="blue">Buy a hardware wallet</li>
            <li class="blue">Follow the simple instructions in your user manual</li>
          </ul>
        </div>
      </div>
      <div id="wallets10" role="tabpanel">
        <div class="one whole">
          <ul class="list">
            <li class="blue">Login to your wallet</li>
            <li class="blue">Confirm that you have a enough balance</li>
            <li class="blue">Go to send option</li>
            <li class="blue">enter the recipient’s address or select from address book</li>
            <li class="blue">Click send</li>
            <li class="blue">Enter your PIN code or password to authorize send</li>
            <li class="blue">A notification will inform you the transaction is complete.</li></ul>
        </div>
      </div>
      <div id="wallets11" role="tabpanel">
        <div class="one whole">
          <ul class="list">
            <li class="blue">Login to your wallet,</li>
            <li class="blue">Go to an option that reads “Give out the bitcoin address below to receive bitcoins”.</li>
            <li class="blue">Copy and share the address generated to receive funds.</li>
            <li class="blue">Alternatively, your wallet can show addresses as as QR codes.</li>
            <li class="blue">Display this image and anyone can scan it to send you bitcoins.</li>
            <li class="blue">A notification will display showing incoming bitcoins in your wallet</li></ul>
        </div>
      </div>
      <div id="wallets12" role="tabpanel">
        <div class="one whole">
          <p class="readable">
            You can have a pick of wallets from a variety of types. From our
            experience, these are some of the most popular out there. We recommend
            these wallets</p>
          <p class="readable">Mobile wallets:</p>
          <ul class="list">
            <li class="blue">for android <a href="https://mycelium.com/" target="_blank">Mycelium</a></li>
            <li class="blue">for Apple <a href="http://breadwallet.com/" target="_blank">Breadwallet</a></li>
          </ul>
          <p class="readable">Web wallets:</p>
          <ul class="list">
            <li class="blue"><a href="https://www.coinbase.com/" target="_blank">Coinbase</a> wallet</li>
            <li class="blue"><a href="https://blockchain.info/" target="_blank">Blockchain</a> wallet</li>
          </ul>
          <p class="readable">Hardware wallets</p>
          <ul class="list">
            <li class="blue">Bitcoin <a href="https://bitcointrezor.com/" target="_blank">Trezor</a></li>
            <li class="blue"><a href="https://www.ledgerwallet.com/" target="_blank">Ledger</a> wallet</li>
          </ul>
        </div>
      </div>
      <div id="wallets13" role="tabpanel">
        <div class="one whole">
          <p class="readable">
            The Ethereum blockchain has been around for 11-months, but there are many options for wallets that can hold ether (ETH). </p>
          <p class="readable">
            <h3 class="museo-slab">Jaxx</h3>
          </p>
          <p class="readable">One of the best user friendly options is <a href="https://jaxx.io/" target="_blank">Jaxx</a>.
            Jaxx is a multiple asset wallet that can hold both Bitcoin (BTC) and Ethereum (ETH).
            It is available for download on <a href="https://play.google.com/store/apps/details?id=com.kryptokit.jaxx&hl=en" target="_blank">Android</a>,
            <a href="https://itunes.apple.com/us/app/jaxx-bitcoin-ethereum-wallet/id1084514516?mt=8" target="_blank">iOS</a>,
            accessed via <a href="https://jaxx.io/" target="_blank">Web</a>  or a Chrome-plugin.  Jaxx has a great user interface,
            runs smooth and works across multiple devices. For example you can pair two devices and use your Jaxx wallet across devices from your
            phone to your PC or your tablet. </p>
          <p class="readable">Before adding cryptocurrency on your wallet, first back up your wallet and add a PIN.</p>
          <ol class="list">
            <li class="green">Go to > Tools > Back Up</li>
            <li class="green">Go to > Setting > Set PIN</li>
          </ol>
          <p class="readable">
            <h3 class="museo-slab">MyEtherWallet</h3>
          </p>
          <p class="readable">Another user-centric wallet options is <a href="https://www.myetherwallet.com/" target="_blank">MyEtherWallet</a>
             This website may be run either from their web browser or locally to create an Ethereum address. On this web page, you can save an
             encrypted JSON file or write down your private key. Alternatively, you can print out a paper wallet.</p>
          <p class="readable">
            We recommend you read up some more on the <a href="https://www.myetherwallet.com/#help" target="_blank">Help</a> section before you are comfortable.
          </p>
          <p class="readable">
            <h3 class="museo-slab">Other options</h3>
          </p>
          <p class="readable">
            For more advanced options go to <a href="https://www.ethereum.org/" target="_blank">Ethreum.org </a> to download their Mist client, which will run a full node, or other command-line options for various
            programming languages like C++, Golang, Rust, and Python.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
