<article class="padded fadeInLeft animated">
  <div class="row padded">
    <section about-directive></section>
    <hr></hr>
    <section class="row padded black box">
      <div class="padded bounceInDown animated">
        <h1 class="museo-slab mobile">Trading Bitcoin</h1>
      </div>
    </section>
  </div>
  <hr></hr>
  <div class="row padded">
    <div class="three fifths">
      <h3 class="zero museo-slab">Where can I trade Bitcoin?</h3>
      <p class="quicksand">Bitcoin Kenya Information Portal</p>
    </div>
    <div class="two fifths align-right-ipad align-right-desktop">
      <p class="quicksand">Guide 5 of 6</p>
      <a href="#!/InvestBTC" class="blue button" rel="prev" >Back: Investing in Bitcoin</a>
      <a href="#!/RegulationBTC" class="green button" rel="next" >Next: Regulation?</a>
    </div>
  </div>
  <div class="row padded gap-top page">
    <div class="tabs ipad">
      <ul role="tablist">
        <li role="tab" aria-controls="#trade1" class="active">What is a wallet?</li>
        <li role="tab" aria-controls="#trade2">Why do I need a wallet?</li>
        <li role="tab" aria-controls="#trade3">What is a bitcoin address?</li>
      </ul>
      <div id="trade1" role="tabpanel" class="active">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            <a href="http://www.umati.io/?page_id=18">UmatiBit</a> accepts Kenya shillings in exchange for bitcoins</p>
          <p class="readable">A peer to peer market such as <a href="http://localbitcoins.com/">Local Bitcoins</a>&nbsp;or <a href="https://paxful.com/">paxful.com</a>.
            Here you find listed buyers and sellers willing to trade with you.</p>
          <p class="readable">A bitcoin exchange abroad such as Kraken in Europe, Coinbase in the US, BitFinex in Hong Kong, BTCC in China,</p>
          <p class="readable">A bitcoin forex trader trading BTC pairs like <a href="https://simplefx.com/dashboard/">com</a> and <a href="https://1broker.com/">1Broker.com</a></p>
          <p class="readable">Find a person, anyone who is willing to exchange bitcoins for regular currency Kenya shilling, bonga points, even airtime! It is all up to you and your trading partner.</p>
        </div>
      </div>
      <div id="trade2" role="tabpanel">
        <div class="one whole">
          <p class="readable"><p>Bitcoin can be bought and sold (traded) in a number of ways just like
           stocks, bonds and regular currency. Additionally, because it is a peer
          to peer currency, it can be traded amongst peers on peer to peer
          markets.</p>
          <p>When you trade bitcoin, you are either buying, selling or holding it
          at any one time. It is important to look at the price and decide on the
          next step. Decide whether</p>
          <ol class="list">
            <li class="green">You want to make a profit by buying bitcoins when price is low and later, sell them at a higher price at a later date</li>
            <li class="green">You want to profit by selling at high price and buying them back when price is low at a later date</li>
          </ol>
          <p class="readable">Experienced traders may be willing to accept more risk for higher
          risk reward ratios.If you are one such trader, leverage trading bitcoin
          is an option Just like trading forex, bitcoin can be traded on margin
          though trading brokers.</p>
          <p class="readable">For example <a href="https://simplefx.com/dashboard/">SimpleFx.com</a> and <a href="https://1broker.com/">1Broker.com</a>
            accept deposits and withdrawals in bitcoin, and allow for normal and marginal trading 24/7.</p>
        </div>
      </div>
      <div id="trade3" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
    </div>
  </div>
</article>
