<article class="padded fadeInLeft animated">
  <div class="row padded">
    <section about-directive></section>
    <hr></hr>
    <section class="row padded black box">
      <div class="padded bounceInDown animated">
        <h1 class="museo-slab mobile">Investing in Bitcoin</h1>
      </div>
    </section>
  </div>
  <hr></hr>
  <div class="row padded">
    <div class="three fifths">
      <h3 class="zero museo-slab">Why invest in Bitcoin?</h3>
      <p class="quicksand">Bitcoin Kenya Information Portal</p>
    </div>
    <div class="two fifths align-right-ipad align-right-desktop">
      <p class="quicksand">Guide 4 of 6</p>
      <a href="#!/invest" class="blue button" rel="prev" >Back: invest</a>
      <a href="#!/TradeBTC" class="green button" rel="next" >Next: Trading Bitcoin?</a>
    </div>
  </div>
  <div class="row padded gap-top page">
    <div class="tabs ipad">
      <ul role="tablist">
        <li role="tab" aria-controls="#invest1" class="active">Why invest in bitcoin?</li>
        <li role="tab" aria-controls="#invest2">How to invest in bitcoin?</li>
        <li role="tab" aria-controls="#invest3">How to buy and sell bitcoin?</li>
        <li role="tab" aria-controls="#invest4">What is a bitcoin exchange?</li>
        <li role="tab" aria-controls="#invest5">Is there a bitcoin exchange in Kenya?</li>
        <li role="tab" aria-controls="#invest6">Where to buy/sell in Kenya?</li>
        <li role="tab" aria-controls="#invest7">Are my bitcoins safe?</li>
        <li role="tab" aria-controls="#invest8">How to secure bitcoin?</li>
        <li role="tab" aria-controls="#invest9">What if I lose my bitcoins?</li>
        <li role="tab" aria-controls="#invest10">Why I need bitcoin?</li>
        <li role="tab"aria-controls="#invest11">Why should I care about bitcoin?</li>
        <li role="tab" aria-controls="#invest12">Is bitcoin mining profitable?</li>
      </ul>
      <div id="invest1" role="tabpanel" class="active">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Bitcoin is a digital commodity that has a limited supply of 21 millions.
            Bitcoins come about through a process called mining. These features are
            comparable to gold, leading to the often cited digital gold.</p>
          <p class="readable">Since 2009, it has grown in value 17,500%. In 2009, the price of
            bitcoin was 1 KES. It went up to an All time high of 1163,000 KES in
            December 2013. As it finds use cases as a store of value, medium of
            exchange and increasingly, a unit of account, the price of bitcoin goes
            up too.</p>
          <p class="readable">Today, bitcoin is used for making online payments, sending and
            receiving remittances, and cross border business payments. It also
            traded as an asset class in regulated financial markets: A Bitcoin
            Electronic Trade Note in Stockholm, Sweden, Wall Street’s Publicly
            tradable Bitcoin Investment and Hedge funds.</p>
          <p class="readable">As the number of bitcoins going into supply diminishes and Bitcoin
            and the blockchain find utility in business, the price is expected to go
             up.</p>
          <p class="readable">This is not intended as financial advice, contact <a href="http://www.umati.io/?page_id=18">umati.io</a> or a bitcoin professional.</p>
        </div>
      </div>
      <div id="invest2" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            In Kenya, the easiest way to safely invest in bitcoin is to buy some for
            yourself and speculate on its future potential. In other countries such
            as the United States and Sweden regulation has made it possible to get
            easy and secure exposure to bitcoin. Mutual trust funds, like the
            publicly traded <a href="http://grayscale.co/bitcoin-investment-trust/">Bitcoin Investment Trust</a>
            and <a href="http://www.nasdaqomxnordic.com/etp/etn/etninfo?Instrument=SSE109538">Exchange Traded Notes</a> on Sweden’s Nasdaq Exchange.</p>
          <p class="readable">When choosing to invest in bitcoin, you can choose to acquire bitcoin
            directly, or indirectly via an investment vehicle, depending on your
            options.</p>
          <p class="readable">This is not intended as financial advice, contact <a href="http://www.umati.io/">Umati Blockchain Limited</a> or a bitcoin professional.</p>
        </div>
      </div>
      <div id="invest3" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
      <div id="invest4" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            A Bitcoin exchange is an online market where buyers and sellers meet to trade bitcoin. It is similar to other types of exchanges such as stock
            exchanges, commodity and currency exchanges. Bitcoin exchanges however, facilitate the trade of Bitcoin and cryptocurrencies.</p>
          <p class="readable">
            At Bitcoin exchanges, customers typically go through a signup and verification process before they are allowed to deposit funds to beginning trading.
          </p>
          <p class="readable">
            Typically, at an exchange sellers will list their asking price and buyers will make bids. Both are listed on a market order book with bids and asks on
            each side of the order books.
          </p>
          <p class="readable">
            Before signing up for services at an exchange, it is recommended to conduct a thorough research on the exchange.
          </p>
          <p class="readable">
            Here is a list of some reputable exchanges around the world. There is no bitcoin exchange in Kenya as of July 2016.
          </p>
          <ul class="list">
            <li class="blue"><a href="https://www.kraken.com/" target="_blank">Kraken (Europe)</a></li>
            <li class="blue"><a href="https://www.bitstamp.net/" target="_blank"></a>Bitstamp (Europe)</li>
            <li class="blue"><a href="https://www.gdax.com/" target="_blank">Coinbase (US)</a></li>
            <li class="blue"><a href="https://www.btcc.com/" target="_blank">BTCC (China)</a></li>
            <li class="blue"><a href="https://www.bitfinex.com/" target="_blank">BitFinex (Hong Kong)</a></li>
          </ul>
          <p class="readable">
            You can view trading activity on all exchanges at <a href="https://bitcoinwisdom.com/" target="_blank">Bitcoinwisdom.com</a>
          </p>
        </div>
      </div>
      <div id="invest5" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Origin of bitcoinLorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
      <div id="invest6" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Origin of bitcoinLorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
      <div id="invest7" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
      <div id="invest8" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
      <div id="invest9" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">Yes and No, it depends on whether you took steps to backup your wallet and secure your bitcoins.</p>
          <p class="readable">IF you took steps to secure your bitcoins and backed up your wallet, your coins can be recovered.</p>
          <p class="readable">If however, you did NOT take measures to secure your bitcoins or back up your wallet, your lost bitcoins cannot be recovered.</p>
          <p class="readable">It is very important that before using a bitcoin wallet to send and
            receive bitcoins, make sure to backup your wallet and take measures to
          secure your bitcoins.</p>
        </div>
      </div>
      <div id="invest10" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
      <div id="invest11" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Bitcoin is a digital commodity that has a limited supply of 21 millions.
            Bitcoins come about through a process called mining. These features are
            comparable to gold, leading to the often cited digital gold.</p>
          <p class="readable">Since 2009, it has grown in value 17,500%. In 2009, the price of
            bitcoin was 1 KES. It went up to an All time high of 1163,000 KES in
            December 2013. As it finds use cases as a store of value, medium of
            exchange and increasingly, a unit of account, the price of bitcoin goes
            up too.</p>
          <p class="readable">Today, bitcoin is used for making online payments, sending and
            receiving remittances, and cross border business payments. It also
            traded as an asset class in regulated financial markets: A Bitcoin
            Electronic Trade Note in Stockholm, Sweden, Wall Street’s Publicly
            tradable Bitcoin Investment and Hedge funds.</p>
          <p class="readable">As the number of bitcoins going into supply diminishes and Bitcoin
            and the blockchain find utility in business, the price is expected to go up.</p>
          <p class="readable">This is not intended as financial advice, contact <a href="http://www.umati.io/?page_id=18">umati.io</a><br></p>
        </div>
      </div>
      <div id="invest12" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">

        </div>
      </div>
    </div>
  </div>
</article>
