<article class="padded fadeInLeft animated">
  <div class="row padded">
    <section about-directive></section>
    <hr></hr>
    <section class="row padded black box">
      <div class="padded bounceInDown animated">
        <h1 class="museo-slab mobile">What is Bitcoin?</h1>
      </div>
    </section>
  </div>
  <div class="row padded">
    <div class="three fifths">
      <h3 class="zero museo-slab">Have a look at our guide below.</h3>
      <p class="quicksand">Bitcoin Kenya Information Portal</p>
    </div>
    <div class="two fifths align-right-ipad align-right-desktop">
      <p class="quicksand">Guide 1 of 6</p>
      <a href="#!/Mining" class="green button" rel="next" >Next: What's Mining?</a>
    </div>
  </div>
  <hr></hr>
  <div class="row padded gap-top page">
    <div class="tabs ipad">
      <ul role="tablist">
        <li role="tab" aria-controls="#whatsBTC1" class="active">Are Bitcoins real?</li>
        <li role="tab" aria-controls="#whatsBTC2">Where do Bitcoins come from?</li>
        <li role="tab" aria-controls="#whatsBTC3">How can I use Bitcoin?</li>
        <li role="tab" aria-controls="#whatsBTC4">Who is Satoshi Nakamoto?</li>
        <li role="tab" aria-controls="#whatsBTC5">Is Bitcoin legal?</li>
        <li role="tab" aria-controls="#whatsBTC6">Difference with MPesa?</li>
        <li role="tab" aria-controls="#whatsBTC7">Where to buy Bitcoins?</li>
        <li role="tab" aria-controls="#whatsBTC8">Where to sell Bitcoins?</li>
        <li role="tab" aria-controls="#whatsBTC9">How to receive Bitcoins?</li>
        <li role="tab" aria-controls="#whatsBTC10">How to send Bitcoins?</li>
        <li role="tab" aria-controls="#whatsBTC11">Where to  find price of Bitcoins?</li>
        <li role="tab" aria-controls="#whatsBTC12">How much is one bitcoin?</li>
        <li role="tab" aria-controls="#whatsBTC13">Price of Bitcoin in Kenya shilling?</li>
        <li role="tab" aria-controls="#whatsBTC14">Is Bitcoin anonymous?</li>
        <li role="tab" aria-controls="#whatsBTC15">Why is Bitcoin digital gold?</li>
      </ul>
      <div id="whatsBTC1" role="tabpanel" class="active">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Yes! Bitcoins are real. Bitcoin is revolutionary because it is the first true form of a digital
            commodity. When you hold bitcoin, you actually own them. To help you get
             a picture, holding bitcoins is like having cash in your pocket, when
            you hold, no one else can take unless you hand it to them. Bitcoins
            cannot be taken from you because possession is ownership. In fact, when
            you own bitcoin, not even the government can take them from you. That is
             why, it is often referred to as the only censorship resistant asset.</p>
        </div>
      </div>
      <div id="whatsBTC2" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Bitcoin was first released as an open source software by Satoshi Nakamoto in January 2009.
            This began the Bitcoin network that has massively grown to what we have today.</p>
          <p class="readable">
            Satoshi Nakamoto had previously published the Bitcoin white paper <a href="https://bitcoin.org/bitcoin.pdf" target="_blank">‘Bitcoin a Peer-to-Peer Electronic Cash System’</a> in October 2008,
             outlining and describing bitcoin the digital currency.
          </p>
        </div>
      </div>
      <div id="whatsBTC3" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            </p>
        </div>
      </div>
      <div id="whatsBTC4" role="tabpanel">
        <div class="one whole">
          <p class="readable">
            Satoshi Nakamoto is the name of person or group of people who created Bitcoin, the peer to peer decentralized open network.
            Satoshi Nakamoto is believed to be a pseudonym for the person or group of people who first published the <a href="https://bitcoin.org/bitcoin.pdf" target="_blank">Bitcoin white paper.</a>
            There is no clear evidence to confirm whether Satoshi was an individual, man, woman or team.</p>
          <p class="readable">
            It is generally accepted that Satoshi Nakamoto was most likely a team of experts who worked together to produce the open source code that is now Bitcoin.</p>
          <p class="readable">
            Satoshi’s identity still remains unknown till today. In the early days of Bitcoin, Satoshi was careful to protect their identity and only communicated through encrypted email.
            Satoshi appeared regularly on and off on forums such as <a href="https://bitcointalk.org/index.php?action=profile;u=3" target="_blank">here.</a>
            Satoshi’s history of communication with the bitcoin community can be found <a href="https://bitcointalk.org/index.php?action=profile;u=3;sa=showPosts" target="_blank">here.</a>
          </p>
          <p class="readable">
            Since 2008, the mysterious identity of the creator of Bitcoin has been a mystery. Several people have claimed to be Satoshi Nakamoto. The media has also attempted to uncover the mystery of Satoshi.
          </p>
          <p class="readable">It continues to be a mystery today.</p>
        </div>
      </div>
      <div id="whatsBTC5" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            </p>
        </div>
      </div>
      <div id="whatsBTC6" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <ul class="list">
            <li class="blue">Bitcoin is a global online currency that works anywhere in the world
            with no boundaries while Mpesa is a local mobile money that works in the
             local Kenyan economy.</li>
            <li class="blue">Bitcoin has a free floating price and is not pegged to any currency,
            its price changes on a global market. On the other hand, Mpesa is fixed
            to the Kenyan Shilling. 1 Mpesa shilling is equal to 1 Kenya shilling.</li>
            <li class="blue">Bitcoin charges a flat fee for sending both large and small
            transactions any where around the world. Mpesa has a variable fee
            structure for sending transactions.</li>
          </ul>
        </div>
      </div>
      <div id="whatsBTC7" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            </p>
        </div>
      </div>
      <div id="whatsBTC8" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            </p>
        </div>
      </div>
      <div id="whatsBTC9" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <ol class="list">
            <li class="blue">Login to your wallet,</li>
            <li class="blue">Go to an option that reads “Give out the bitcoin address below to receive bitcoins”.</li>
            <li class="blue">Copy and share the address generated to receive funds.</li>
            <li class="blue">Alternatively, your wallet can show addresses as as QR codes.</li>
            <li class="blue">Display this image and anyone can scan it to send you bitcoins.</li>
            <li class="blue">A notification will display showing incoming bitcoins in your wallet</li>
          </ol>
        </div>
      </div>
      <div id="whatsBTC10" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <ol class="list">
            <li class="blue">Confirm that you have a enough balance</li>
            <li class="blue">Go to send option</li>
            <li class="blue">Enter the recipient’s address or select from address book</li>
            <li class="blue">Click send</li>
            <li class="blue">Enter your PIN code or password to authorize send</li>
            <li class="blue">A notification will inform you the transaction is complete.</li>
          </ol>
        </div>
      </div>
      <div id="whatsBTC11" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">The average global price of bitcoin can be seen on <a href="http://preev.com/">preev.com</a>.</p>
          <p class="readable">This digital currency is traded on exchanges located in various
           countries, thus, the price is calculated in US dollars, the British
           pound, Chinese Yuan, Euro, Japanese Yen and even the Kenya Shilling.</p>
           <p class="readable">The price of bitcoin is not fixed, it is free floating. It is
           determined by what buyers and sellers trading on exchanges are willing
           to pay or accept. At <a href="https://bitcoinwisdom.com/markets/bitfinex/btcusd">BitcoinWisdom</a>, you can view the price on different exchanges and currencies.</p>
           <p class="readable"><a href="http://bitcoinkenya.info/">BitcoinKenya.info</a> lists the price of bitcoin in Kenya shillings<br></p>
        </div>
      </div>
      <div id="whatsBTC12" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
            <p class="readable">The live price of bitcoin in different currencies can also be found on <a href="https://bitcoinaverage.com/#USD">Bitcoinaverage.com</a></p>
            <p class="readable">United States Dollar USD</p>
            <p class="readable">Chinese Renminbi Yuan</p>
            <p class="readable">Japanese Yen</p>
            <p class="readable">European Union Euro</p>
            <p class="readable">The price of bitcoin at any moment in time is the average of prices on exchanges around the world.&nbsp;</p>
        </div>
      </div>
      <div id="whatsBTC13" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            The price of Bitcoin in Kenya shillings is 59144.46 KES. However it should
            be noted that this rate represents a rate similar to the interbank rates
            of foreign currencies. Given that there is not the same access to
            brokerages and exchanges in Kenya as places like America and Europe and
            certain Asian countries with sophisticated financial markets the actual
            price of Bitcoin in Kenya shillings will be affected by liquidity.</p>
        </div>
      </div>
      <div id="whatsBTC14" role="tabpanel">
        <div class="onw whole">
          <p class="readable">
            Bitcoin is not anonymous. Bitcoin is pseudonymous.</p>
          <p class="readable">
            There is often confusion on whether Bitcoin is anonymous. The truth is that it is not.
            Every Bitcoin transaction can be viewed publicly on the Bitcoin blockchain. The blockchain has a permanent record of all
            the transactions that have happened in the entire history of Bitcoin. It is therefore possible, to see all the Bitcoins
            transactions happening in real time on the <a href="https://blockchain.info/" target="_blank">public blockchain.</a>
          </p>
          <p class="readable">
            Bitcoin is pseudonymous because, while it is possible to see all the transactions on the Blockchain, the identity of the senders and
            receivers is not visible. It possible to see bitcoins move from one address to another, but there is no way of telling who is sending or receiving.
            This is called pseudonymity.
          </p>
        </div>
      </div>
      <div id="whatsBTC15" role="tabpanel">
        <div class="one whole">
          <p class="readable">
            Bitcoin is a digital asset that is often compared to gold in this age of the internet and technology systems. Bitcoin is digital gold because it shares similar
            characteristics to gold. Some of them include
          </p>
          <ul class="list">
            <li class="blue">
              <span>Bitcoins come about through a process called mining using computer power to solve complex math problems.</span><br>
              <span class="red-bg">Gold is mined from the earth using heavy machinery.</span></li>
            <li class="blue"><span>The supply of Bitcoins is fixed forever at 21 million bitcoins and is said to be scarce.
              Mining bitcoin gets more difficult over time and the amount available to mine decreases over time.</span><br>
              <span class="red-bg">Gold is said to be scarce because its supply decreases over time.
                In the past it was easy to mine gold, but over time, gold deposits have dried up. It now costs more to mine the same amount
                of gold than 5 years ago.</span></li>
            <li class="blue">
            <span>Bitcoin is a store of wealth for anyone around the world.</span><br>
            <span class="red-bg">Gold has been a store of wealth for centuries.</span></li>
            <li class="blue">>Bitcoin is digital. Gold is a physical precious metal</li>
            <li class="blue">
              <span>Bitcoin is not controlled by government, and its value is not subject to control by governments or anyone else for that matter.
                This has led people to invest in Bitcoin as a way to preserve wealth.</span><br>
              <span class="red-bg">Gold is often associated with storage of wealth in economic crisis as its value is independent of government. In periods of economic downturns,
                investors store their wealth in gold to protect from declining asset prices.</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
