<article class="padded fadeInLeft animated">
  <div class="row padded">
    <section about-directive></section>
    <hr></hr>
    <section class="row padded black box">
      <div class="padded bounceInDown animated">
        <h1 class="museo-slab mobile">Regulation</h1>
      </div>
    </section>
  </div>
  <hr></hr>
  <div class="row padded">
    <div class="three fifths">
      <h3 class="zero museo-slab">Is Bitcoin legal?</h3>
      <p class="quicksand">Bitcoin Kenya Information Portal</p>
    </div>
    <div class="two fifths align-right-ipad align-right-desktop">
      <p class="quicksand">Guide 6 of 6</p>
      <a href="#!/TradeBTC" class="blue button" rel="prev" >Back: Trading in Bitcoin</a>
    </div>
  </div>
  <div class="row padded gap-top page">
    <div class="tabs ipad">
      <ul role="tablist">
        <li role="tab" aria-controls="#regulate1" class="active">Is bitcoin legal?</li>
        <li role="tab" aria-controls="#regulate2">Is bitcoin regulated?</li>
        <li role="tab" aria-controls="#regulate3">Bitcoin vs Paper Money?</li>
        <li role="tab" aria-controls="#regulate4">Bitcoin vs Kenya Shilling?</li>
        <li role="tab" aria-controls="#regulate5">What is virtual currency?</li>
      </ul>
      <div id="regulate1" role="tabpanel" class="active">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
      <div id="regulate2" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
      <div id="regulate3" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Paper money is legal tender such as the Kenya shilling or US dollar, are
            issued by the authority of the national government, through the Central
            Bank. The government only accepts legal tender for payment of taxes due
            to the state. Additionally, paper money exists in physical form, like cash.</p>
          <p class="readable">Bitcoin, was designed to work differently. It was inspired by the
            reckless monetary functions exercised by banks, governments, dictators
            and central banks in the financial crisis of 2008. Therefore, it has no
            central authority and is said to be decentralized. Instead of a single
            entity or person controlling the money supply, bitcoin is issued by a
            transparent consensus process. Bitcoin does not exist in physical form,
            it is a purely online currency</p>
        </div>
      </div>
      <div id="regulate4" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Bitcoin is a purely digital currency, it exists only online; there is no paper
            version of bitcoin. This is different from traditional forms of currency
            where both paper and electronic forms exist together at the same time.
            For example a 100 Kenya shilling note and 100 Kenya Shillings on Mpesa.</p>
          <p class="readable">The two are also distinguishable by how they issued, that is, how they come about.</p>
          <p class="readable">Regular currency is printed by a country’s central monetary
          authority, the Central Bank. In Kenya, the Central Bank for example,
          controls monetary policy like how much money is printed, prevailing
          interest rates and inflations rate target. Because, in the past and
          today, banks have abused this power, Bitcoin takes a different approach,
           by decentralizing the authority of issuing money. Its monetary policy
          is fixed, publicly known and run by consensus.</p>
          <p class="readable">Bitcoins money supply is fixed, capped at 21 million bitcoins. There
          will never be more than this amount in circulation. Regular currency on
          the other hand, is printed by national at the whims of Central Banks. It
           is susceptible to interference from the state, political influence and
          mismanagement.</p>
        </div>
      </div>
      <div id="regulate5" role="tabpanel">
        <div class="one third"></div>
        <div class="two thirds">
          <p class="readable">
            Virtual currencies are purely digital tokens that represent some value. With
            this value, they can be exchanged or redeemed for goods, and services.
            Unlike national currencies that we are accustomed to, such as the Kenya
            shilling, virtual currencies have no paper form, they exist only in
            digital form. They are also not issued by national central banks.
            Corporations, cooperative unions, retail stores, e-commerce giants and
            online communities have issued most VCs in the recent past.</p>
          <p class="readable">Bitcoin on the other hand, and cryptocurrencies are a new breed of
            decentralized digital currencies not issued by a central authority.</p>
          <p class="readable">Examples of virtual currencies include bonga points, nakumatt points, World of Warcraft coins, Q coins and Bitcoin.</p>
        </div>
      </div>
    </div>
  </div>
</article>
