<article class="padded fadeInLeft animated">
  <div class="row padded">
    <section about-directive></section>
    <hr></hr>
    <section class="row padded black box">
      <div class="padded bounceInDown animated">
        <h1 class="museo-slab mobile">What is Mining?</h1>
      </div>
    </section>
  </div>
  <div class="row padded">
    <div class="three fifths">
      <h3 class="zero museo-slab">Our mining clues below.</h3>
      <p class="quicksand">Bitcoin Kenya Information Portal</p>
    </div>
    <div class="two fifths align-right-ipad align-right-desktop">
      <p class="quicksand">Guide 2 of 6</p>
      <a href="#!/WhatsBTC" class="blue button" rel="prev" >Back: What's Bitcoin?</a>
      <a href="#!/Wallets" class="green button" rel="next" >Next: Wallets</a>
    </div>
  </div>
  <hr></hr>
  <div class="row padded gap-top page">
    <div class="tabs ipad">
      <ul role="tablist">
        <li role="tab" aria-controls="#whatsMining1" class="active">What is Mining?</li>
        <li role="tab" aria-controls="#whatsMining2" class="active red">What is Mining: Technical</li>
        <li role="tab" aria-controls="#whatsMining3">How to start mining?</li>
        <li role="tab" aria-controls="#whatsMining4">Hardware mining?</li>
        <li role="tab" aria-controls="#whatsMining5">Cloud mining?</li>
        <li role="tab" aria-controls="#whatsMining6">Is mining profitable?</li>
        <li role="tab" aria-controls="#whatsMining7">What you need to start mining?</li>
      </ul>
      <div id="whatsMining1" role="tabpanel" class="active">
        <div class="one whole">
          <p class="readable">Bitcoin mining is a process that achieves two-goals for the network.</p>
          <ol class="list">
            <li class="blue">It keeps a record of all the transactions going across the network,
              ensuring that they are legitimate transactions.</li>
            <li class="blue">It is a discovery process by which new bitcoins are created.
              Since there is no central authority to print money (as is the case with national currencies)
              the Bitcoin network rewards the miners who are contributing their computing power to secure the network.</li>
          </ol>
        </div>
      </div>
      <div id="whatsMining2" role="tabpanel">
        <div class="one whole">
          <p class="readable">
            <h3 class="museo-slab">Technical Aspects of Mining</h3>
          <p class="readable">
            A computer connects to the Bitcoin network and performs a SHA256 hash verification processes in
            order to validate bitcoin transactions and provide the requisite security for the public ledger of the Bitcoin network.
          </p>
          <p class="readable">
            A hash is a computer operation that is relatively easy to perform, taking data
            (for instance from all the transactions during a set period of time) and creating a seemingly random number.
            However hashes are almost impossible to back-compute.  Once a miner finds a valid block, by completing the hash
            function then it becomes time-stamped and associated with the previous blocks (hence the term blockchain).
            Any attempted to change even one transaction would cause the hash to change.
          </p>
          <p class="readable">
            The bitcoin network runs of the longest chain.  This is the chain with the most complete work.
            In the event that there was a dispute about transactions then each miner will have to choose which chain to adopt.
          </p>
        </div>
      </div>
      <div id="whatsMining3" role="tabpanel">
        <div class="one whole">
          <p class="readable">There are broadly two ways to get started with mining</p>
          <ul class="list">
            <li class="blue">Mining by purchasing your own hardware.</li>
            <li class="blue">Cloud mining</li>
          </ul>
        </div>
      </div>
      <div id="whatsMining4" role="tabpanel">
        <div class="one whole">
          <p class="readable">To get started hardware mining you need </p>
          <ol class="list">
            <li class="green">Hardware</li>
            <li class="green">Software</li>
            <li class="green">An internet connection.</li>
            <li class="green">Source of electricity.</li>
          </ol>
          <p class="readable">
            4 years ago, when the bitcoin network was much younger
            it was possible to mine with the CPUs from computers, even a laptop would work.
            But, as more miners connected to the network the difficulty of finding a block (and earning rewarded) increased.
          </p>
          <p class="readable">
            Today, you need to buy specialized hardware designed specifically for bitcoin mining. Most of these manufacturers
            are based in China and produce ASIC (application-specific integrated circuit) computers, with the software for
            mining pre-installed. <a href="https://www.bitmaintech.com/product.htm" target="_blank">View main product examples</a>
          </p>
        </div>
      </div>
      <div id="whatsMining5" role="tabpanel">
        <div class="one whole">
          <p class="readable">
            The other option if one does not wish to invest in hardware is to buy
            a cloud mining contract.  These contracts are sold by data centers that already
            own mining hardware and will sell contracts to rent out for a specified amount of time.
            <a href="https://www.genesis-mining.com" target="_blank">For example www.genesis-mining.com.</a>
          </p>
          <p class="readable">
            Another thing to note is that the difficulty on the Bitcoin network is so high that it is
            impossible to solo mine.  You will need to connect to a mining pool, where you share your
            hashing power with a group of other miners and then share the rewards collectively.
            <a href="https://slushpool.com/" target="_blank">An example of a mining pool </a>
          </p>
          <p class="readable red">
            Note these links do not list all the hardware manufactures, cloud-mining services or mining pools.
            Please conduct your own research before investing.
          </p>
        </div>
      </div>
      <div id="whatsMining6" role="tabpanel">
        <div class="one whole">
          <p class="readable">At this point in time the profitability is dependent on several factors, including</p>
          <ol class="list">
            <li class="green">Cost of hardware</li>
            <li class="green">Cost of electricity</li>
            <li class="green">Bitcoin price</li>
            <li class="green">Mining difficulty</li>
          </ol>
          <p class="readable">
            The mining operations that will be most profitable will be those that can obtain
            electricity at low cost and scale large enough so that the return on investment
            covers the investment cost in the shortest amount of time.
          </p>
          <p class="readable">
            To estimate the profitability, you can use a mining profitability calculator
            <a href="http://www.bitcoinx.com/profit/" target="_blank">for example http://www.bitcoinx.com/profit/</a>
          </p>
        </div>
      </div>
      <div id="whatsMining7" role="tabpanel">
        <div class="one whole">
          <p class="readable">At the minimum you need an</p>
          <ol class="list">
            <li class="green">ASICS computer that compute the Sha256 algorithim.</li>
            <li class="green">Software that will connect you through a stratum proxy to a</li>
            <li class="green">Mining pool and you will need </li>
            <li class="green">A reliable electricity source and a</li>
            <li class="green">Reliable internet connection.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</article>
